<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
<servlet>
<servlet-name>Acceuil</servlet-name>
<servlet-class>servlets.Acceuil</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Acceuil</servlet-name>
<url-pattern>/Acc</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EcoleServlet</servlet-name>
<servlet-class>servlets.EcoleServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>EcoleServlet</servlet-name>
<url-pattern>/Ecoles</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>servlets.Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Connexion</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Enregistration</servlet-name>
<servlet-class>servlets.Enregistration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Enregistration</servlet-name>
<url-pattern>/Register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Deconnexion</servlet-name>
<servlet-class>servlets.Deconnexion</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Deconnexion</servlet-name>
<url-pattern>/Signout</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Interface</servlet-name>
<servlet-class>servlets.Interface</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Interface</servlet-name>
<url-pattern>/Homepage</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ClubServlet</servlet-name>
<servlet-class>servlets.ClubServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ClubServlet</servlet-name>
<url-pattern>/Clubs</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>DemandesClubs</servlet-name>
<servlet-class>servlets.DemandesClubs</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DemandesClubs</servlet-name>
<url-pattern>/Demandes</url-pattern>
</servlet-mapping>



<jsp-config>
	<jsp-property-group>
	<url-pattern>*.jsp</url-pattern>
	<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
	</jsp-property-group>
</jsp-config>

</web-app>
